# Бинарные файлы
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib

# Файлы компиляции и сборки
*.d
*.dep
*.cmd
*.mod
*.map
*.sym

# Каталоги сборки
/build/
/bin/
/dist/
/Debug/
/Release/

# Файлы IDE и редакторов
*.log
*.swp
*.swo
*.user
*.sdf
*.vcxproj*
*.ncb
*.opensdf
*.DS_Store
*.idea/
# *.vscode/

# .vscode исключения, кроме важных файлов конфигурации
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json

# Отладочные файлы
core
*.stackdump

# Резервные файлы
*~
*.bak
*.tmp
